.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(150, 150, 150);
  align-items: center;
}

.item{
  background-color: lightpink;
}