p {
  font-family: Arial;
  
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(120, 82, 178);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.home-link {
  font-weight: bold;
}

.text-box {
  border: none;
  border-radius: 15px;
  padding-left: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 500px;
  height: 30px;
}

.download-button {
  background-color: rgb(120, 82, 178);
  color: white;
  font-size: 16px;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding-left: 15x;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}