body {
  height: 3000px;
}

.bottom-right {
  width: 320px;
  height: 180px;
  background-color: grey;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.close-button {
  background-color: black;
  color: white;
  font-family: Arial;
  font-weight: 100;
  width: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 15px;
  position: absolute;
  top: -10px;
  left: -10px;
}