.box {
  width: 800px;
  display: flex;
  flex-direction: row;
  border-style: solid;
}

.picture {
  width: 50px;
  border-radius: 25px;
}

.text-info {
  margin-left: 15px;
}

.header {
  display: flex;
  flex-direction: row;
}

.name {
  font-family: Arial;
  font-weight: bold;
}

.username {
  font-family: Arial;
  color: gray;
}

